In [1]:
import pandas as pd
import numpy as np

In [14]:
df1 = pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("wxyz"))

In [12]:
se1 = pd.Series(np.arange(12))

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int32
 1   1       3 non-null      int32
 2   2       3 non-null      int32
 3   3       3 non-null      int32
dtypes: int32(4)
memory usage: 176.0 bytes

In [18]:
df1[["w","z"]]

   w   z
a  0   3
b  4   7
c  8  11

In [2]:
for i in range(10):
    print("This is number {}".format(i))

This is number 0
This is number 1
This is number 2
This is number 3
This is number 4
This is number 5
This is number 6
This is number 7
This is number 8
This is number 9

In [4]:
print("hhz")

hhz

In [ ]:
print("